<!-- <div class="home" ng-controller="ContextController"> -->

  <!-- <h1>{{a}}</h1> -->

  <!-- <script type='text/javascript'>var ID = <%=@id%>;</script> -->
  <!-- <h1> Context:     </h1>
    <h2> {{information.id}}) {{information.created}} : {{information.location}} : {{information.name}}</h2>
    <h2></h2> -->

  <!-- <div>
    <div class="jumbotron-surfy animated fadeIn" style="background-color: lightgrey" ng-if="contextsJson !== undefined">
      <h2>
        {{contextJson.name}}

        {{contextJson.location}}
      </h2>
    </div>
  </div> -->
<!-- </div> -->
